@model ChoixResto.Models.Resto

<div class="text-center">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier un restaurant</legend>

            <div>
                @Html.LabelFor(model => model.Nom, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nom)
            </div>
            <div>
                @Html.LabelFor(model => model.Telephone, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telephone)
            </div>
            <br />
            <input type="submit" class="btn btn-primary btn-lg active" value="Modifier" />
        </fieldset>
    }
</div>