@model ChoixResto.ViewModels.AccueilViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@*<div>
    Je suis la vue index
</div>*@

    @*
    <li>@ViewData["message"]</li>
    <li>@(((DateTime)ViewData["date"]).ToString("dd/MM/yyyy"))</li>
    <li>@(((ChoixResto.Models.Resto)ViewData["resto"]).Nom)</li>
    <li>@(((ChoixResto.Models.Resto)ViewData["resto"]).Telephone)</li>
   @{
        ChoixResto.Models.Resto resto = (ChoixResto.Models.Resto)ViewData["resto"];
    }
    <li>@resto.Nom</li>
    <li>@resto.Telephone</li>

    <li>@ViewBag.resto.Nom</li>
    <li>@ViewBag.resto.Telephone</li>

    <li>@Model.Message</li>
    <li>@Model.Date.ToString("dd/MM/yyyy")</li>

    <li>@Model.Resto.Nom</li>
    <li>@Model.Resto.Telephone</li>
    @Html.TextBox("nom", Model.Resto.Nom)
    @Html.TextBox("telephone", Model.Resto.Telephone)
    <input type="submit" value="Envoyer" />
    
    
    @Html.Partial("Connexion",Model)


    @Html.Action("AfficheListeRestaurant")*@
    @using (Html.BeginForm())
    {
        <fieldset>
        <ul>
             <legend>Prêts à choisir un restaurant ?</legend>  
            <br>
            <input type="submit" value="Créer un sondage" />
            <br><br>

            <ul>
                <li>@Html.ActionLink("Ajouter un restaurant","CreerRestaurant","Restaurant")</li>
                <li>@Html.ActionLink("Modifier les restaurants","Index", "Restaurant")</li>
            </ul>
        </ul>
        </fieldset>
    }

   


</body>
</html>
